{% load cms_tags %}
<h2>News</h2>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#school-news" data-toggle="tab">From the School</a>
        </li>
        <li>
            <a href="#class-news" data-toggle="tab">From the classes</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="school-news">
            {% placeholder school_news %}
        </div>
        <div class="tab-pane" id="class-news">
            {% placeholder classes_news %}
        </div>
    </div>
</div>
