{% extends "socialschools/base.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block wrapper%}
    <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked">
            {% show_menu 2 %}
            </ul>
        </div>
        <div class="span6">
            <div class="css-content-white">
                {% placeholder content_block_1 %}
            </div>
        </div>
        <div class="span3">
            <div class="css-content-white">
                {% placeholder widget_block_1 %}
            </div>
        </div>
    </div>

{% endblock %}

