{% extends "socialschools/base.html" %}
{% load cms_tags %}

{% block wrapper%}
    <div class="row-fluid">
        <div class="span8">
            <div class="css-content-white">
                <div class="row-fluid">
                    <div class="span6">
                        {% placeholder welcome_block_left %}
                    </div>
                    <div class="span6">
                        {% placeholder welcome_block_right %}
                    </div>
                </div>
                <div class="well">
                    {% include "socialschools/news.html" %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="white-widget well">
                Login Block
            </div>
            <div class="white-widget well">
                {% placeholder widget_block_1 %}
            </div>
            <div class="white-widget well">
                {% placeholder widget_block_2 %}
            </div>
        </div>
    </div>

{% endblock %}

