{% load staticfiles %}
{% autoescape off %}
<div class="comment">
    <div class="pull-left">
            <img src="<%= commented_by.picture ? commented_by.picture : '{% static 'cmsplugin_socialschools/css/img/unknown.png' %}' %>">
    </div>
    <div class="comment-body">
        <span class="comment-author"><%= (commented_by.first_name + ' ' + commented_by.last_name)  %></span>
        <span>
            <%= body %>
        </span>
        <br>
        <span class="comment-timestamp"><%= moment(date_created).format('LL') %></span>
    </div>
</div>

{% endautoescape %}
