{% load i18n %}
{% load staticfiles %}

{% autoescape off %}
<div class="post clearfix">
    <div class="post-labels">
        <div class="post-label-picture">
            <img src="<%= posted_by.picture ? posted_by.picture : '{% static 'cmsplugin_socialschools/css/img/unknown.png' %}' %>">
        </div>
    </div>

    <!-- Post body -->
    <div class="post-body">
        <div class="post-message-container">
            <h3 class="post-header"><%= title %></h3>
            <% print(posted_by.first_name + ' ' + posted_by.last_name) %> <span class="meta-info">{% trans 'in' %}</span> <%= _community_name %> <span class="meta-info">{% trans 'on' %} <%= moment(date_created).format('LL') %></span>
            <div class="post-description">
                <p><%= description %></p>
            </div>
            <div class="post-photos-container row" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            </div>
        </div>

            <!-- Show Comments -->
        <div class="post-comments-container">
        </div>
        <a class="css-comments-next-page" href="">{% trans 'Load more' %}</a>
    </div>
</div>
{% endautoescape %}
