{% load i18n %}
{% load staticfiles %}

{% autoescape off %}

<aside class="content-block">
  <div class="tabbar">
    <div class="date-icon purple">
      <span class="date-day"><%= moment(date_created).format('D') %></span>
      <span class="date-month"><%= moment(date_created).format('MMM') %></span>
    </div>
    <div class="tab-icon post "></div>        
      <div class="posted-by">    
        <img class="post-author-picture pull-left" src="<%= posted_by.picture ? posted_by.picture : '{% static 'cmsplugin_socialschools/css/img/unknown.png' %}' %>">    
      </div>
  </div>
  <% if (event){ %>
  <div class="tab-icon event "></div>
  <% } %>
  <div class="tab-icon news "></div>
    <div class="content"> 
      <div class="postedin">
        Gepost in: <span><%= _community_name %></span>
      </div>
      <ul class="tools">    
      </ul>
      <div class="item-heading">
        <div class="item-title">
        <h1 data-skip="true"><%= title %></h1>
        <p>
          <% print(posted_by.first_name + ' ' + posted_by.last_name) %>
        </p>
      </div>
    </div>
    <div class="item-body">
      <% if (event){ %>
      <p>
      Locatie: <%= event.location %> <br>
      Aanvang: <span class="date"><%= moment(event.start_date).format('LL H:mm') %></span><br>
      Geplande eindtijd <span class="date"><%= moment(event.end_date).format('LL H:mm') %></span><br>
      </p>
      <% } %>
      <p data-meaningful="true" ct-id="4">
        <%= description %>
      </p>

  </div>
  <div class="post-photos-container gallery clearfix" data-toggle="modal-gallery" data-target="#modal-gallery">
  </div>
    <div class="post-videos-container">
    </div>
    <div class="clear"></div>
    <br>
    <div class="clear"></div>
  </div>
</aside>

{% endautoescape %}
