{% load i18n %}
{% load staticfiles %}

{% autoescape off %}
<div class="post clearfix">
    <% if (!event) { %>
        <div class="post-labels">
            <div class="post-label-type post-color-comment">
                <icon class="glyphicon glyphicon-comment"></icon>
            </div>
        </div>
        <div class="post-body post-body-color-comment">
        <div class="post-message-container">
            <div class="clearfix">
                <img class="post-author-picture pull-left" src="<%= posted_by.picture ? posted_by.picture : '{% static 'cmsplugin_socialschools/css/img/unknown.png' %}' %>">
            <div class="post-meta pull-left">
                <% print(posted_by.first_name + ' ' + posted_by.last_name) %> <span class="meta-info">{% trans 'in' %}</span> <%= _community_name %>
                <br>
                <span class="meta-info">
                    {% trans 'on (adverb)' %}
                    <%= moment(date_created).format('LL') %>
                </span>
            </div>
            </div>
            <hr>
            <h2 class="post-header"><%= title %></h2>
            <div class="post-description">
                <p><%= description %></p>
            </div>
            <div class="post-photos-container gallery clearfix" data-toggle="modal-gallery" data-target="#modal-gallery">
            </div>
            <div class="post-videos-container">
            </div>
<!--             <div class="post-comments-container">
            </div> -->
        </div>
    </div>
    <% } %>     
</div>
{% endautoescape %}
